body{
    display: grid;
    grid-template-areas:
    "header header"
    "aura corpo"
    "pe pe";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 2fr;
}
 @media only screen and (max-width:850px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "aura"
        "corpo"
        "pe";
        grid-template-rows: 100px 500px 100px;
        grid-template-columns: auto;
    }

}
 @media only screen and (max-width:450px){
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "aura"
        "corpo"
        "pe";
        grid-template-rows: 100px 100px 500px 100px;
        grid-template-columns: auto;
    }
   }
.pai{
    text-align: center;
}

.sla{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    border: thistle 2px solid;
    border-radius: 20px;
    background-color: rgb(55, 88, 83);
}
.ima-pro{
    width: 320px;
}

.prod{
    color: antiquewhite;
    font-size: x-large;
}
.pre{
    color: antiquewhite;
    font-size: x-large;
}

.



header{
    height: 100px;
    background-color: aqua;
    grid-area: header;
}
main{
    height: auto;
    background-color: rgb(53, 83, 83);
    grid-area: corpo;
}
aside{
    height: auto;
    background-color: rgb(173, 162, 162);
    grid-area: aura;
}
footer{
    height: 100px;
    background-color: aquamarine;
    grid-area: pe;
}